################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SebHackathon2018/.vs/SebHackathon2018/v15/Server/sqlite3
/SebHackathon2018/.vs/SebHackathon2018/v15/.suo
