<ul>
    <li>
        <a href="http://localhost:61392/api/BankView/LoginOption/clientId/0">SEB</a>
    </li>
    <li>
        <a href="http://localhost:61392/api/BankView/LoginOption/clientId/1">SwedBank</a>
    </li>
</ul>